Question - 1
ans  -

In [11]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import pandas as pd

In [13]:
data = [4, 8, 15, 16, 23, 42]

series = pd.Series(data)

In [14]:
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Quesion - 2
ans -

In [15]:
var1 = [2,3,4,5,6,7,8,9,12,13]

In [16]:
len(var1)

10

In [17]:
pd.Series(var1)

0     2
1     3
2     4
3     5
4     6
5     7
6     8
7     9
8    12
9    13
dtype: int64

question - 3
ans -

In [18]:
data1 = {"Name":["Alice","Bob","Claire"],
         "Age":[25,30,27],
         "Gender":["Female","Male","Female"]
}


df = pd.DataFrame(data1)

In [19]:
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Question - 4
ans -

DataFrame --
In Pandas, a DataFrame is a two-dimensional, tabular data structure that stores data in rows and columns. It is similar to a spreadsheet or a SQL table, where each column represents a variable, and each row represents an observation or record. DataFrames are one of the primary data structures in Pandas and are widely used for data manipulation, analysis, and cleaning tasks.


Series --
On the other hand, a Pandas Series is a one-dimensional labeled array. It can be thought of as a single column of data, similar to a NumPy array but with additional functionality and labeled indices for each element. A DataFrame is essentially a collection of Series, where each Series represents a column in the DataFrame.

Let's explain the difference with an example:

In [20]:
data = [4, 8, 15, 16, 23, 42]

series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [21]:
data1 = {"Name":["Alice","Bob","Claire"],
         "Age":[25,30,27],
         "Gender":["Female","Male","Female"]
}


df = pd.DataFrame(data1)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In this example, we have created a Pandas DataFrame containing three columns: "Name", "Age", and "Gender". Each column represents a Pandas Series (e.g., "Name" column is a Series with elements ['Alice', 'Bob', 'Claire'], "Age" column is a Series with elements [25, 30, 27], and "Gender" column is a Series with elements ['Female', 'Male', 'Female']). The DataFrame provides a tabular representation of the data, where each row represents a different person with their corresponding information (Name, Age, and Gender).

Question - 5
ans -

1.-- head() and tail(): These functions allow you to view the first few rows (head()) or last few rows (tail()) of the DataFrame, which helps you get a quick overview of the data.

In [25]:
df1 = pd.read_csv("player_data.csv")

In [27]:
df1.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,...,.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,...,.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,...,.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,4,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,...,.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,5,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,...,.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9

In [28]:
df1.tail()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
837,601,Thaddeus Young,PF,33,TOR,26,0,18.3,2.6,5.5,...,.481,1.5,2.9,4.4,1.7,1.2,0.4,0.8,1.7,6.3
838,602,Trae Young,PG,23,ATL,76,76,34.9,9.4,20.3,...,.904,0.7,3.1,3.7,9.7,0.9,0.1,4.0,1.7,28.4
839,603,Omer Yurtseven,C,23,MIA,56,12,12.6,2.3,4.4,...,.623,1.5,3.7,5.3,0.9,0.3,0.4,0.7,1.5,5.3
840,604,Cody Zeller,C,29,POR,27,0,13.1,1.9,3.3,...,.776,1.9,2.8,4.6,0.8,0.3,0.2,0.7,2.1,5.2
841,605,Ivica Zubac,C,24,LAC,76,76,24.4,4.1,6.5,...,.727,2.9,5.6,8.5,1.6,0.5,1.0,1.5,2.7,10.3

2.-- 
info(): This function provides a concise summary of the DataFrame, including the data types, non-null counts, and memory usage. It's useful for understanding the data structure and identifying missing values.

In [29]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842 entries, 0 to 841
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      842 non-null    object
 1   Player  842 non-null    object
 2   Pos     842 non-null    object
 3   Age     842 non-null    object
 4   Tm      842 non-null    object
 5   G       842 non-null    object
 6   GS      842 non-null    object
 7   MP      842 non-null    object
 8   FG      842 non-null    object
 9   FGA     842 non-null    object
 10  FG%     827 non-null    object
 11  3P      842 non-null    object
 12  3PA     842 non-null    object
 13  3P%     770 non-null    object
 14  2P      842 non-null    object
 15  2PA     842 non-null    object
 16  2P%     814 non-null    object
 17  eFG%    827 non-null    object
 18  FT      842 non-null    object
 19  FTA     842 non-null    object
 20  FT%     745 non-null    object
 21  ORB     842 non-null    object
 22  DRB     842 non-null    object
 23  TRB     842 non-null    object
 24  AST     842 non-null    object
 25  STL     842 non-null    object
 26  BLK     842 non-null    object
 27  TOV     842 non-null    object
 28  PF      842 non-null    object
 29  PTS     842 non-null    object
dtypes: object(30)
memory usage: 197.5+ KB

3.-- describe(): This function generates descriptive statistics of the DataFrame, such as count, mean, standard deviation, minimum, and maximum values. It helps in understanding the distribution of numerical data.

In [33]:
 df1.describe()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,842,842,842,842,842,842,842,842,842,842,...,745,842,842,842,842,842,842,842,842,842
unique,606,606,13,23,32,83,81,308,98,179,...,282,42,86,110,83,25,24,45,41,214
top,Rk,Player,SG,24,TOT,2,0,MP,0.0,FGA,...,1.000,0.4,1.0,0.0,0.0,0.5,0.0,0.0,1.0,0.0
freq,30,30,200,103,97,39,265,30,42,30,...,50,79,41,31,63,104,154,73,47,35

Question - 6
ans -

1.- Series: A Pandas Series is immutable, which means you cannot modify the elements once it is created. You can, however, create a new Series with modified values.

2.- DataFrame: A Pandas DataFrame is mutable, meaning you can modify its elements, add or remove columns, change values, and perform various data manipulation operations.

3.- Panel: The Panel data structure was removed from the main Pandas library since version 0.25.0 (July 2019) because it was deemed not essential and not widely used. Instead, users were recommended to use multi-index DataFrames or 3D NumPy arrays. Therefore, Panels are no longer a part of the Pandas library.

Question - 7
ans -

In [37]:
student_marks = {"Ravi":99,
                 "sanjeet":97,
                 "himanshu":98,
                 "jogesh":96,
                 "abhishek":100,
                 "manu":100,
                 "kishan":93
}

marks_series = pd.Series(student_marks , name = "Marks_Obtained")

In [38]:
student_subject = {"Ravi":"thermodynamics",
                   "sanjeet":"strength of material",
                   "himanshu":"economics",
                   "jogesh":"fluid mechainics",
                   "abhishek":"heat transfer",
                   "manu":"DME"
}

subject_series = pd.Series(student_subject, name = 'Subjects')

df2 = pd.DataFrame({"Marks_Obtained":student_marks, "Subjects":student_subject})

In [39]:
df2

          Marks_Obtained              Subjects
Ravi                  99        thermodynamics
sanjeet               97  strength of material
himanshu              98             economics
jogesh                96      fluid mechainics
abhishek             100         heat transfer
manu                 100                   DME
kishan                93                   NaN